{% extends "Hospital_App/base.html"%}
{% block header %}
{% load static %}
    <title>Hello, world!</title>
{% endblock header%}
{% block content %}
<body>
    <header class="header">
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Hospital<span>.</span></a>
            <nav class="navbar">
                <a href="#Home">Home</a>
                <a href="#Doctor">Doctor</a>
                <a href="{% url 'Hospital_App:stats' %}">Statistics</a>
                <a href="{% url 'Hospital_App:tweets' %}" >Tweets</a>
                <a href="#Appointment" >Book an appointment</a>
                {% comment %} Below login is for testing purpose {% endcomment %}
                {% if user.is_authenticated %}
                {% comment %} <h6>Hello, {{ user.username }}. </h6> {% endcomment %}
                <a href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'users:login' %}">Login</a></li>
                {% endif %}
           </nav>
    </header>
    <!-- Rest of your HTML code goes here -->
</body>
{% endblock content %}

