{% extends "Hospital_App/base.html"%}
{% block header %}
{% load static %}
    <title>Hello, world!</title>
{% endblock header%}
{% block content %}
<body>
    {% if user.is_authenticated %}
    <h2>Hello, {{ user.username }}. </h2>
    <a href="{% url 'users:logout' %}">log out</a>
    {% else %}
    <a href="{% url 'users:login' %}">log in</a></li>
    {% endif %}
    <header class="header">
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Hospital<span>.</span></a>
            <nav class="navbar">
                <a href="{% url 'Hospital_App:index' %}">Home</a>
                <a href="#Doctor">Doctor</a>
                <a href="{% url 'Hospital_App:stats' %}">Statistics</a>
                <a href="{% url 'Hospital_App:tweets' %}" >Tweets</a>
                <a href="#Appointment" >Book an appointment</a>
                {% comment %} Below login is for testing purpose {% endcomment %}
                {% if user.is_authenticated %}
                {% comment %} <h6>Hello, {{ user.username }}. </h6> {% endcomment %}
                <a href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'users:login' %}">Login</a></li>
                {% endif %}
           </nav>
    </header>
    <!-- Rest of your HTML code goes here -->
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Country</th>
            <th scope="col">Active</th>
            <th scope="col">Cases</th>
            <th scope="col">Recovered</th>
            <th scope="col">Death</th>
          </tr>
        </thead>
        <tbody>
          <tr>    
            <td>{{data.country}}</td>    
            <td>{{data.active}}</td>
            <td>{{data.cases}}</td>    
            <td>{{data.recovered}}</td> 
            <td>{{data.deaths}}</td>
          </tr>
        </tbody>
      </table>
</body>
{% endblock content %}

